/*FONTS*/
@import url(../font/ranade.css);
@font-face {
    font-family: 'satoshi';
    src: url(../font/Satoshi-Light.otf);
    font-size: 3rem !important;
}
/*VARIAVEIS*/
:root{
    --c-dark: #2b2b2b;
    --c-brand: #b88116;
    --c-brand-light: #b48320;
    --c-brand-rgb: 183, 129, 21;
    --c-body: #1f1c1c;
    --font-base:"satoshi", sans-serif;
    --box-shadow: 0px 10px 25px rgba(15, 13, 13, 0.2);
    --transition: all 0.5s ease;
}
body {
    background-color: #1f1c1c!important;
    font-family: var(--font-base) !important;
    line-height: 1.7;
    color: var(--c-dark);  
    
}

/*NAVBAR*/


a{  
    width: 30px;
    font-family: 'satoshi';
    color: white !important;
    transition: var(--transition);
}
a:hover{
    color: rgba(167, 38, 38, 0.959) !important;
    transition: 0.8s !important;
}


#particles-js{
    height: 100%;
    background:var(--c-body);
    position: relative;
}

h1 {
    position: absolute;
    color: rgb(145, 155, 163) !important;
    top: 350px ;
    left: 400px;
    transform: translate(-50%, -50%) ;
}


/*Typing css*/

.type {
    font-size: 3rem;
    color:rgba(167, 38, 38, 0.959);
}
.titles{
	color:rgba(167, 38, 38, 0.959)
}
.subtitles {
	color:rgba(167, 38, 38, 0.959)
}



/*Setor de galeria do Banner*/




.wrap{
	position: absolute;
	width: 60vmin;
	height: 60vmin;
	background: inherit;
	transform: scale(0.2) translateZ(0px);
	opacity: 1;
	transition: transform .5s, opacity .5s;
	margin: 0 auto;
}


.galery {   
    margin-top: 150px;
	position: absolute;
	left: 0; top: 0;
	width: 80% ;height: 47.5%;
	overflow: hidden;
	transform: scale(.1) translateZ(3px);
	background: var(--c-dark);
}

.galery div{
    overflow: hidden;
	height: 100%;
	background-size: cover;
	opacity: .5;
	transition: opacity .5s;
	border-radius: inherit;

}
a:nth-child(1)
{
	border-radius: 40vmin 0 0 0;
	transform-origin: 110% 110%;
	transition: transform .4s .15s;
    width: 300px;
}
a:nth-child(1) div{
	background-image:url('../image/image-8.jpg');
    width: 300px;
}

a:nth-child(2)
{
	border-radius: 0 40vmin 0 0;
	left: 52.5%;
	transform-origin: -10% 110%;
	transition: transform .4s .2s;
}
a:nth-child(2) div{
	background-image:url('../image/image-9.jpg');
}


a:nth-child(3)
{
	border-radius: 0 0 0 40vmin;
	top: 52.5%;
	transform-origin: 110% -10%;
	transition: transform .4s .25s;
    width: 300px;
}
a:nth-child(3) div{
	background-image:url('../image/image-5.jpg');
}
a:nth-child(4)
{
	border-radius: 0 0 40vmin 0;
	top: 52.5%; left: 52.5%;
	transform-origin: -10% -10%;
	transition: transform .4s .3s;
}
a:nth-child(4) div{
	background-image:url('../image/image-7.jpg');
}


a:nth-child(5)
{
	border-radius: 50vmin;
	width: 55%; height: 55%;
	top: 22.5%; left: 22.5%;
	transform-origin: -10% -10%;
	transform: scale(1);
	box-shadow: 0 0 0 5vmin var(--c-);

}
a:nth-child(5) div{
	background-image: url('../image//image-2.png');

}

.galery-wrap span{
    opacity: 0;
	position: absolute;
	display: block;
	margin: 0 auto;
	top: 50vmin;
	width: 10vmin;
	height: 10vmin;
	border-radius: 100%;
	background: #141d1a42;
	transform: translateZ(0px);
    box-shadow: var(--box-shadow);
}

.galery-wrap span span{
    opacity: 0;
	position: absolute;
	width: 60%;
	height: 3px;
	background: #aca69693;
	left: 20%;  
	top: 50%;
	border-radius: 0;
}



.galery-wrap span span:after, span span:before{
	content: "";
	position: absolute;
	left: 0;
	top: -1.5vmin;
	width: 100%;
	height: 100%;
	background: inherit;
}
.galery-wrap span span:after{
	top: 1.5vmin;
}
.galery-wrap span:hover + .wrap, .wrap:hover{
	transform: scale(0.8) translateZ(0px);
	opacity: 1;
}
.galery-wrap span:hover + .wrap a, .wrap:hover a{
transform: scale(1) translateZ(0px);
}


a:hover div{
	opacity: 1;
	transform: translateZ(0px);
}



/*Image css*/

/*About Section*/

.section-padding h2,h3,h4,h5,h6, p{
    color: rgb(145, 155, 163)!important;
    text-align: justify;
}
.cliente-items .iconbox{
    background-color:#2b2926b7;
    color:white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-60%, -50%);
    opacity: 0;
    border-radius: 15px;
}

.cliente-items:hover .iconbox{
    opacity: 1;
    top: 50%;
}

.profile{
	box-shadow: 0px 4px 4px rgba(15, 13, 13, 0.315);
    max-width: 100%;
    height: auto;   
    border-radius: 35px; 
    
}

.card-me{
	box-shadow: 0px 4px 4px rgba(15, 13, 13, 0.315);
	border-radius: 15px;
	margin: 5px;
	padding: 15px;
	background-color: #2b2b2b44;
	border: 1px solid transparent;
}

/*Efeito do Card*/
.card-me:hover{
	transition: 2s ease-in-out ;
	border: 0.7px solid rgba(167, 38, 38, 0.226);
}



/*Portifolio Section*/
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.2);
    color: var(--c-brand-light);
    font-size: 34px;
    flex: none;
}
.portifolio {
    position: relative;
    overflow: hidden;
    z-index: 2
}

.portifolio::after{
    content: "";
    width: 40px;
    height: 40px;
    background: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.portifolio:hover::after{
    width: 100%;
    height: 100%;
    background: var(--c-dark);
    z-index: -1;
}

.portifolio:hover h5,
.portifolio:hover p {
    color: var(--c-brand-light);
}

.portifolio:hover .iconbox{
    background-color: rgba(255,255,255,0.2);
    color: var(--c-brand-light);
}